.container {
  width: 65%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Abel", sans-serif;
  margin-bottom: 30px;
  margin-top: 20px;
}
#aboutme {
  text-align: center;
}
#bio {
  text-align: center;
}
body {
  height: 75%;
}
