@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  /* background-color: #ffe135; */
  background-image: linear-gradient(to bottom right, #dbe2ef, #3f72af);
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#profile {
  /* height: 300px;
  width: 300px;
 
  position: relative;

 */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  margin-top: -270px;
  z-index: 9999;
}

#name {
  /* margin-left: 475px; */
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* box-shadow: 5px 10px black; */
#greeting {
  color: #fff;

  overflow: hidden; /* Ensures the content is not revealed until the animation */

  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 8.5s steps(30, start), link-caret 0.5s step-end infinite;
  font-family: "Abel", sans-serif;
  text-align: center;
  font-size: 30px;
  /* margin-left: 40%; */
}
hr {
  border-top: 1px solid white;
  width: 65%;
}
.section {
  font-family: "Abel", sans-serif;
  text-align: center;
  font-size: 25px;
  color: black;
}
#footer {
  position: absolute;
  bottom: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
} */
.projects {
  height: 350px;
  width: 350px;
  /* background-color: white; */
  margin-top: 15px;
  /* margin-left: 60px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}
#gif {
  height: 220px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 5%;
  box-shadow: 5px 5px #3f72af;
}
#gif:hover {
  box-shadow: 5px 7px #112d4e;
}
.section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#projects {
  text-decoration: none;
  color: black;
  font-family: "Abel", sans-serif;
  display: flex;
  align-content: center;
  flex-direction: column;
  /* background-color: #ebedf3;
  border-radius: 10%;
  box-shadow: 10px 10px 5px grey;
  width: 375px;
  opacity: 0.7; */
}
.projectcard {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .projectcard {
    flex-direction: column;
  }
  #greeting {
    font-size: 16px;
  }
}
