@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  /* background-color: #ffe135; */
  background-image: linear-gradient(to bottom right, #eef4d2, #fb8883);
  height: 100%;
}

#profile {
  /* height: 300px;
  width: 300px;
 
  position: relative;

 */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-top: -250px;
  z-index: 9999;
}

#name {
  /* margin-left: 475px; */
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* box-shadow: 5px 10px black; */
#greeting {
  font-family: "Abel", sans-serif;
  text-align: center;
  font-size: 30px;
}

.projects {
  height: 350px;
  width: 350px;
  /* background-color: white; */
  margin-top: 15px;
  /* margin-left: 60px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#gif {
  height: 220px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5%;
}
#projects {
  text-decoration: none;
  color: black;
  font-family: "Abel", sans-serif;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.projectcard {
  display: flex;
  flex-direction: row;
  align-content: center;
}
